Repository Betaeta84/meerk40t, changes with the labels that .github/labeler.yml gives for each.
All labels: Context: Config, Context: Docs, Context: Base, Context: Core, Context: Devices, Context: GUI, Context: Misc, Context: Tests, Context: I18n

.github/labeler.yml:

# Format at https://github.com/actions/labeler

"Context: Config":
- '*'
- '.*/**/*'

"Context: Docs":
- '**.md'

"Context: Base":
- 'meerk40t/*.py'

"Context: Core":
- 'meerk40t/core/**/*.py'

"Context: Devices":
- 'meerk40t/device/**/*.py'

"Context: GUI":
- 'meerk40t/gui/**/*.py'

"Context: Misc":
- 'meerk40t/dxf/**/*.py'
- 'meerk40t/extra/**/*.py'
- 'meerk40t/image/**/*.py'
- 'meerk40t/tools/**/*.py'

"Context: Tests":
- 'test/**/*.py'

"Context: I18n":
- 'locale/**/*'

balor show_origin, show flips, and origin_xy
  meerk40t/balormk/device.py
  meerk40t/balormk/gui/balorconfig.py
Labels: none

Debug message for painted_bounds bug
  meerk40t/gui/laserrender.py
Labels: Context: GUI

Proof of concept for driver switching within MeerK40t.
  meerk40t/balormk/device.py
Labels: none

ShellExecute doesn't expand %USERPROFILE%. Use python for that.
  meerk40t/balormk/device.py
Labels: none

Elevate privileges using ShellExecuteW when doing a driver_install
  meerk40t/balormk/device.py
Labels: none

Make driver_install less dependent on my system directories.
  meerk40t/balormk/device.py
Labels: none

Traduzione
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n

Traduzione
  locale/de/LC_MESSAGES/meerk40t.mo
  locale/hu/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/ja/LC_MESSAGES/meerk40t.mo
  locale/nl/LC_MESSAGES/meerk40t.mo
  locale/pt_PT/LC_MESSAGES/meerk40t.mo
  locale/zh/LC_MESSAGES/meerk40t.mo
Labels: Context: I18n

Traduzione
  locale/it/LC_MESSAGES/meerk40t.mo
  locale/it/LC_MESSAGES/meerk40t.po
Labels: Context: I18n
